<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" 
  "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.microsoft.sqlserver.jdbc.SQLServerDriver" />
        <!-- S2-Install-Start: INSERT DB SERVER HERE -->
        <property name="url" value="jdbc:sqlserver://localhost:1433;databaseName=EmployeeManagement;Encrypt=False;" />
        <!-- S2-Install-End: -->
        <property name="username" value="sa" />
        <!-- S2-Install-Start: INSERT DB PASSWORD HERE -->
        <property name="password" value="strongPassw0rda" />
        <!-- S2-Install-End: -->
    </bean>
    </beans>